@import 'tailwindcss';

html {
    scroll-behavior: smooth;
}

/* 
#hero {
    background-image: linear-gradient(rgba(30, 64, 175, 0.85), rgba(30, 64, 175, 0.6)), url('/background 2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-blend-mode: multiply;
} */